/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2017, 3:03:14 PM
    Author     : MaxwellDonkor
*/

#myNavbar {
    text-transform: capitalize;
}

nav {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

nav li {
    text-transform: uppercase;
}

.navbar-inverse {
    border: none;
    background-color: #255625;
}

.navbar {
    margin-bottom: 0px;
}

.main-nav-scrolled {
    position: fixed;
    top: 0px;
}
#holdnav {
    background-color: #255625;
    z-index: 150;
    box-shadow: 0 2px #4cae4c;
}


#coverhead {
    height: 90vh;
    width: 100%;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

#coverhead h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font: arial;
    font-size: 4.5em;
    text-transform: uppercase;
    margin: auto;
    text-decoration: blue blink;
}

#msg {
    height: 50vh;
    width: 100%;
}

#msg h2 {
    margin-left: 8%;
    text-transform: capitalize;
    font-size: 1.2em;
}